.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #E5E7EB;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color:#1F2937;
    z-index: 1200
}

h1.heading{
    /* Gray/900 */
    color: #F9FAFB;
    font-weight: bold;
    font-size: 30px;

}

h4{
    font-size: 14px;
}
h1{
    font-size: 24px;
    font-weight:600;
}

.cards-container{
    display: flex;
    flex-direction: column;
    padding:106px 0 80px 0;
    background-color: #1F2937;
    width: 100%;
    justify-content: center;
}

.flex.footer{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    bottom: 0;
    width: 100%;
    padding: 0 55px;
    height: 64px;
    background: #111827;
    border-radius: 32px 32px 0px 0px;
    color: #D1D5DB;
}

.dash-icon{
    width: 80px;
    height: 80px;
    border-radius: 16px;
}

.card-body{
    width: 335px;
    height: 128px;
    background: #4B5563;
    border-radius: 16px;
    align-items: center;
    color: #F9FAFB;
}

.test-card-body{
    width: 335px;
    height: 172px;
    background: #4B5563;
    border-radius: 16px;
    align-items: center;
    color: #F9FAFB;
}

.active{
    opacity: 100%;
}

.card-text{
    max-width: 140px;
}

.card-text p{
    color: #F9FAFB;
    font-size:0.75rem;
}

.card-text h5{
    color: #F9FAFB;
    font-size:1rem;
}

.bg-fixed{
    background: #1F2937;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form-control{

    background: #4B5563;
    border-radius: 16px;
    height: 56px;
    outline: none;
    padding-left: 50px; 
    background-image: url('/search-icon.svg');
    background-position: 5%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto;
    color: #fff;
    margin-bottom: 12px;
    
}

.sub-row{
    background: #4B5563;
    border-radius: 16px;
    height: 72px;
    margin: 12px 24px;
    align-items: center;
    color: #fff;
    background-image: url('/plus-solid.svg');
    background-position: 90%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 16px;
}

.active-accordion{
    background-image: url('/minus-solid.svg');
    background-position: 90%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 16px;
}

.select-subject{
    display: flex;
    width: 98%;
    align-items: center;
    height: 56px;
    color: #F9FAFB;
    text-align: start;
    border: 1px solid #4B5563;
    border-radius: 8px;
    background-image: url('/to-select.svg');
    background-position: 95%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 20px;
}
.select-subject[selected]  {
    background-color: #4B5563;
    background-image: url('/selected.svg');
    background-position: 95%; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 20px;
}

/* animation */
.scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	        animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }

  .slide-in-left {
	-webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  